@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container {
  @apply mx-auto max-w-screen-2xl px-6 mt-24; /* max-w-screen-2xl burada sorun çıkarır */
}

.text-primary {
  color: rgb(63, 81, 181)
} 

button.match-input-height {
  height: var(--mat-form-field-container-height) !important;
}

.mdc-notched-outline__notch {
  border-right-style: none !important;
}

.mat-mdc-snack-bar-container.snack-error {
  --mdc-snackbar-container-color: red;
  --mat-snack-bar-button-color: white;
  --mdc-snackbar-supporting-text-color: white;
}

.mat-mdc-snack-bar-container.snack-success {
  --mdc-snackbar-container-color: green;
  --mat-snack-bar-button-color: white;
  --mdc-snackbar-supporting-text-color: white;
}

.button-color {
  background-color: #3F51B5 !important;
  color: white !important;
}

.button-disabled-color {
  background-color: #9FA8DA !important; 
  color: white !important;
  opacity: 0.6; 
  cursor: not-allowed;
}